body{background-color:aqua}

body{
    background-attachment: local;
}
h1{color:aqua;margin-left: auto;margin-right: auto;}
body{
    background-color: aqua;
}
h1{text-align:center;}
body{background-color: aqua;} 
body {
  background-image: url(hhttps://0nlyshirt.com/cdn/shop/files/hq720_jpg_2000x.png?v=1703980365);
  background-repeat: no-repeat; background-attachment: fixed;background-size: 100%;}
body{
    background-image: url(https://v.wpimg.pl/YzRiY2ExdhszCy8BagN7DnBTe1ssWnVYJ0tjEGpJa0JiEXZULBQ8CDcZNhwiCiwKMx4pHDUUdhsiAHZEdFc9EyEZNVM8VzwXMAw9HXAZbk9mD2sKaE5uSjNEbQRzTnQbZw9tH3xLPRlmCzpTdBxoHHAU);
}
h1{background-color: black;opacity: 59%;}
p{background-color: whitesmoke;opacity: 60%;}
